In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [13]:
# Importing files

X_train_0 = pd.read_csv(r"C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW5\X_train_kaggle.csv")
y_train_0 = pd.read_csv(r"C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW5\y_train_kaggle.csv")
X_test_0 = pd.read_csv(r"C:\Users\kantg\OneDrive\Desktop\CMU\ML for Science\HW5\X_test_kaggle.csv")

In [14]:
# Basic information for the training data set

X_train_0.info()
X_test_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9640 entries, 0 to 9639
Columns: 134 entries, Material to Id
dtypes: float64(67), int64(66), object(1)
memory usage: 9.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4132 entries, 0 to 4131
Columns: 134 entries, Material to Id
dtypes: float64(67), int64(66), object(1)
memory usage: 4.2+ MB

In [15]:
X_train_0.head(5)

,Material,D1,D2,D3,D4,D5,D6,D7,D8,D9,...,D124,D125,D126,D127,D128,D129,D130,D131,D132,Id
0,O4V1Y1,8,39,31,15.6667,10.22220,8,12,87,75,...,0.0,0.0,0.0,12,229,217,78.500,88.6667,12,8683
1,Al1Ba2Cu2F11,9,56,47,17.6250,12.43750,9,9,93,84,...,0.0,0.0,0.0,15,229,214,81.125,90.9219,15,8788
2,Li2O2Pd1,3,46,43,13.6000,12.96000,3,1,87,86,...,0.0,0.0,0.0,12,229,217,141.400,103.5200,12,5144
3,Br2Cl2Cu1Rb2,17,37,20,29.5714,7.34694,17,4,95,91,...,0.0,0.0,0.0,64,229,165,134.143,80.1633,64,9593
4,Al1K1O2,8,19,11,12.0000,4.00000,8,3,87,84,...,0.0,0.0,0.0,12,229,217,119.500,107.5000,12,2027

In [21]:
y_train_0.head(5)

     Egap    Id
0  2.8121  8683
1  2.5128  8788
2  1.9510  5144
3  1.0099  9593
4  2.9344  2027

In [17]:
#Check for nulls

print(X_train_0.isnull().any().sum())
print(X_test_0.isnull().any().sum())

0
0

In [28]:
#Scaling the training and test data set

X_train = X_train_0.iloc[:, 1:-1]
scaler = preprocessing.StandardScaler().fit(X_train)
X_train = pd.DataFrame(scaler.transform(X_train),columns= X_train.columns, index = X_train.index) 

X_test = X_test_0.iloc[:, 1:-1]
scaler = preprocessing.StandardScaler().fit(X_test)
X_test = pd.DataFrame(scaler.transform(X_test),columns= X_test.columns, index = X_test.index)

y_train = y_train_0[['Egap']]

In [29]:
# Split intro training and validation set

X_trn, X_val, y_trn, y_val = train_test_split(X_train, y_train, test_size=0.3, random_state=186)

In [45]:
# Linear Regression

lin_reg = linear_model.LinearRegression()
lin_reg.fit(X_trn, y_trn)

y_pred = lin_reg.predict(X_val)

mae = mean_absolute_error(y_true=y_val,y_pred=y_pred)
#squared True returns MSE value, False returns RMSE value (default value is true)
mse = mean_squared_error(y_true=y_val,y_pred=y_pred)
rmse = mean_squared_error(y_true=y_val,y_pred=y_pred,squared=False)
print("Mean Abs Error:",mae)
print("Mean Sqr Error:",mse)
print("Root Mean Sqr Error:",rmse)

Mean Abs Error: 0.8251381428002628
Mean Sqr Error: 1.1109363052339325
Root Mean Sqr Error: 1.0540096324199

In [39]:
# LASSO

lasso = linear_model.Lasso(alpha=0.1)
lasso.fit(X_trn, y_trn)

y_pred = lasso.predict(X_val)

mae = mean_absolute_error(y_true=y_val,y_pred=y_pred)
#squared True returns MSE value, False returns RMSE value (default value is true)
mse = mean_squared_error(y_true=y_val,y_pred=y_pred)
rmse = mean_squared_error(y_true=y_val,y_pred=y_pred,squared=False)
print("Mean Abs Error:",mae)
print("Mean Sqr Error:",mse)
print("Root Mean Sqr Error:",rmse)

Mean Abs Error: 0.9083678096762943
Mean Sqr Error: 1.3192208601717208
Root Mean Sqr Error: 1.148573402169718

In [42]:
# Ridge Regression

ridge = linear_model.Ridge(alpha=0.1)
ridge.fit(X_trn, y_trn)

y_pred = ridge.predict(X_val)

mae = mean_absolute_error(y_true=y_val,y_pred=y_pred)
#squared True returns MSE value, False returns RMSE value (default value is true)
mse = mean_squared_error(y_true=y_val,y_pred=y_pred)
rmse = mean_squared_error(y_true=y_val,y_pred=y_pred,squared=False)
print("Mean Abs Error:",mae)
print("Mean Sqr Error:",mse)
print("Root Mean Sqr Error:",rmse)

Mean Abs Error: 0.8247627452177034
Mean Sqr Error: 1.1120809023590692
Root Mean Sqr Error: 1.0545524654369118

In [43]:
# Elastic net

elastic = linear_model.ElasticNet(alpha=0.1)
elastic.fit(X_trn, y_trn)

y_pred = elastic.predict(X_val)

mae = mean_absolute_error(y_true=y_val,y_pred=y_pred)
#squared True returns MSE value, False returns RMSE value (default value is true)
mse = mean_squared_error(y_true=y_val,y_pred=y_pred)
rmse = mean_squared_error(y_true=y_val,y_pred=y_pred,squared=False)
print("Mean Abs Error:",mae)
print("Mean Sqr Error:",mse)
print("Root Mean Sqr Error:",rmse)

Mean Abs Error: 0.8775289974689562
Mean Sqr Error: 1.23410600422962
Root Mean Sqr Error: 1.1109032380138335